/* General CSS Styles */
input {
    border-radius: 5px;
    border-color: #121519;
    padding: 10px;
    color: #121519;
    font-size: 1.1rem;
    background-color: #edf1f5;
}

/* React Data Table Styles */

.rdt_TableCol {
    font-size: 1.25rem;
}

.rdt_TableCell {
    font-size: 1.1rem;
}

.rdt_Pagination {
    font-size: 16px;
}






