/* General CSS Styling */
section#report {
    margin-top: 10rem;
}


/* React Data Table Styles */

input#countrySearch {
    margin-left: 16px;
}

.rdt_TableCol {
    font-size: 18px;
}

.rdt_TableCell {
    font-size: 16px;
}

.rdt_Pagination {
    font-size: 16px;
}






