/* General CSS Styles */

#navbarBrand {
    padding-top: 6px;
}

.dropdown-item:hover {
    background-color: #3c7b66;
}

input {
    border-radius: 0.75rem;
    border: 1px solid #d7dde2;
    padding: 1rem 1.25rem;
    font-size: 1.1rem;
    color: #434a57;
    background-color: #f6f9fc;
}

input:active, input:focus {
    border: 1px solid #3c7b66;
    color: #3c7b66;
    outline: none;
}

::placeholder {
    color: #576071;
    opacity: 1;
}

/* React Data Table Styles */

.rdt_TableHeadRow {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #121519;
}

.rdt_TableHeadRow:hover {
    color: #3c7b66;
}

.rdt_TableCol {
    font-size: 1.25rem;
}

.rdt_TableCell {
    font-size: 1.1rem;
    color: #434a57;
}

.rdt_Pagination {
    font-size: 1.1rem;
    color: #434a57 !important;
}






